# Runtime requirements
--requirement requirements.txt

# pyramid
pyramid-debugtoolbar==2.2.2

# Testing
pytest==2.6.4
py==1.4.26
pytest-cov==1.8.1
webtest==2.0.17
mock==1.0.1

# waitress
waitress==0.8.9